header {
    display: flex;
    justify-content: space-between;
    background-color:cornflowerblue;
    border-bottom: 10px solid #000;
    padding: 10px 20px

}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    text-decoration: none;
    margin-right: 30px;
    font-family: "Fira Code";
}

a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

    #button {
        display: inline-block;
        background-color: #F25A70;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 5px 5px 0px #000;
        margin-right: 0px;
}

#button {
    position: relative;
    transition: 0.5s;
  }

  #button:after {
    content: "Download";
    background-color: #000;
    position: absolute;
    height: 60px;
        line-height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 5px 5px 0px #F25A70;
        margin-right: 0px;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.30s;
  }

  #button:hover {
    padding-right: 0px;
  }

  #button:hover:after {
    opacity: 1;
    right: 0;
  }