.button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
}

.button {
position: relative;
transition: 0.5s;
}

.button:after {
  background-color: #000;
  position: absolute;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 0px #F25A70;
  margin-right: 0px;
  opacity: 0;
  top: 0;
  transition: 0.30s;
}

.button:hover {
  padding-right: 10px;
}

.button:hover:after {
  opacity: 1;
  right: 0;
}