h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000000;

    position: absolute;
    width: 560px;
    height: 40px;
    left: 179px;
    top: 238px;
  }

  h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-shadow: 4px 4px 0px #000000;

    position: absolute;
    width: 540px;
    height: 30px;
    left: 190px;
    top: 306px;
  } 