h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000000;
    margin: 0;
    
  }

  h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-shadow: 4px 4px 0px #000000;
    margin: 0;
  } 